/* Global Variables */

:root{
  --text-color: antiquewhite;
}

/* General Styling */

.container-app{
  background-color:sienna;
  color: var(--text-color)
}

/* Navbar Styling */

.navbar-expand.default{
  background-color: saddlebrown;
  padding-top: 14px;
}

.navLink {
  color:antiquewhite;  
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.25em;
}

.navbar-nav.al-auto {
  padding: 0px 3vw;
  max-width: 18.33vw;
}

.navLogo {
  background-image: url(./../public/images/WNBLogo.png);
  background-repeat: no-repeat;
  background-size: contain;

  color:rgba(240, 248, 255, 0);  
  padding: 0px 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height:inherit
}

.sub-navLogo{
  padding: 14px 0px;
}

.page-head {
  padding: 28px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant: small-caps;
  width: 100vw;
}

/* Home Page Styling */

.logo-image{
  background-image: url(./../public/images/WNBLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height:256px;
}

.home-subhead{
  padding: 28px 0px;
  text-align: center;
}

.row.home-featured-row{
  border-top-style:dashed;
  border-bottom-style:dashed;
  border-color:(var(--text-color));

  background-color:rgb(170, 120, 55);

  padding: 28px 0px;
  height: fit-content;

  text-align: center;
  text-decoration: none;
  font-variant: small-caps; 
}

.col-4.item-1{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}

.col-4.item-2{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}

.col-4.item-3{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}


.row.home-rewards-other-row{
  border-top-style:dashed;
  border-bottom-style:dashed;
  border-color:(var(--text-color));

  background-color: rgb(237, 167, 76);

  padding: 28px 0px;
  height: fit-content;

  text-align: center;
  text-decoration: none;
  font-variant: small-caps; 
}

.col-6.reward-col{
  border-right-style:dashed;
  border-color:(var(--text-color));

  text-align:center;
}

/* Menu Page Stying */

.row.menu-row{
  padding: 10px 10px;
}

.button.container-fluid.tile {
  border-style: groove;
  border-color:maroon;
  border-width: 6px;

  background-color: bisque;
  color:black;

  width: (100/4)vw;
  aspect-ratio: 2;
}

.modal-content.menu-modal-content{
  border-style: groove;
  border-color:maroon;
  border-width: 6px;

  background-color: bisque;
  color:black;

  justify-content: center;
  justify-self: center;

  width: (100/4)vw;
  aspect-ratio: 2;
}

/* Order Page Styling */

.user-cart{
  padding: 28px 25vw;
  justify-items: center;

  border-style: groove;
  border-color:maroon;
  border-width: 6px;

  background-color: bisque;
  color:black;

}

.row.cart-item{
  width: inherit;
  position: inherit;
}

/* About Page Styling */

.about-text{
  color:antiquewhite;  
  padding: 0px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant:normal;
  font-size: 1.25em;
  width: 100vw;
}
