:root{
  --text-color: antiquewhite;
}


.container-app{
  background-color:sienna;
}

.navbar-expand.default{
  background-color: saddlebrown;
  padding-top: 14px;
}

.navLink {
  color:antiquewhite;  
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.25em;
  width: 100vw/5;
}

.navLogo {
  color: var(--text-color);  
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100vw/8;
}

.navbar-nav.al-auto {
  padding: 0px 6vw;
  max-width: (100/5)vw;
}

.page-head {
  color: var(--text-color);
  padding: 28px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant: small-caps;
  width: 100vw;
}

.home-subhead{
  padding: 28px 0px;
  text-align: center;
}

.row.home-featured-row{
  border-top-style:dashed;
  border-bottom-style:dashed;
  border-color:(var(--text-color));

  background-color:rgb(170, 120, 55);

  color: var(--text-color);
  padding: 28px 0px;
  height: fit-content;

  text-align: center;
  text-decoration: none;
  font-variant: small-caps; 
}

.col-4.item-1{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}

.col-4.item-2{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}

.col-4.item-3{
  background-image: url(./../public/images/cookie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 256px;
}


.row.home-rewards-other-row{
  border-top-style:dashed;
  border-bottom-style:dashed;
  border-color:(var(--text-color));

  background-color: rgb(237, 167, 76);

  color: var(--text-color);
  padding: 28px 0px;
  height: fit-content;

  text-align: center;
  text-decoration: none;
  font-variant: small-caps; 
}

.col-6.reward-col{
  border-right-style:dashed;
  border-color:(var(--text-color));

  text-align:center;
}

.row.menu-row{
  padding: 10px 10px;
}

.button.container-fluid.tile {
  border-style: groove;
  border-color:maroon;
  border-width: 6px;

  background-color: bisque;
  color:black;

  width: (100/4)vw;
  aspect-ratio: 2;
}

.modal-content.menu-modal-content{
  border-style: groove;
  border-color:maroon;
  border-width: 6px;

  background-color: bisque;
  color:black;

  justify-content: center;
  justify-self: center;

  width: (100/4)vw;
  aspect-ratio: 2;
}

.about-text{
  color:antiquewhite;  
  padding: 0px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-variant:normal;
  font-size: 1.25em;
  width: 100vw;
}
